{% extends "base.html" %}

{% block title %}
	{{ super() }}
	top
{% endblock %}

{% block head %}
	Welcome to my webpage
{% endblock %}

{% block body %}
	<p>This is top page</p>
	<p>This is top page</p>
	<p>This is top page</p>
	<p>This is top page</p>
	<p>This is top page</p>
	<p>This is top page</p>
	<p>This is top page</p>
	<p>This is top page</p>
	<p>This is top page</p>
	<p>This is top page</p>
	<p>This is top page</p>
	<p>This is top page</p>
	<p>This is top page</p>
	<p>This is top page</p>
	<p>This is top page</p>
	<p>This is top page</p>
	<p>This is top page</p>
	<p>This is top page</p>
	<p>This is top page</p>
	<p>This is top page</p>
	<p>This is top page</p>
	<p>This is top page</p>
	<p>This is top page</p>
	<p>This is top page</p>
	<p>This is top page</p>
	<p>This is top page</p>
	<p>This is top page</p>
	<p>This is top page</p>
	<p>This is top page</p>
	<p>This is top page</p>
	<p>This is top page</p>
	<p>This is top page</p>
{% endblock %}